<?xml version="1.0"?>
<launch>
	<!-- Converting MarkerArray to safe message type SafeObstacleArray.  -->
	<node type="VisualizationMarkerArray2MsgSafe.py" name="marker_array_2_msg_safe_ped" pkg="safe_sensor_msgs" respawn="true" output="screen">
		<param name="topicVisualizeIn" value="/det/Multisense/ped/BBoxes3d" />
		<param name="topicMsgSafeOut" value="/det/Multisense/ped/SafeObstacleArray" />
	</node>
</launch>
